*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 0 auto; 
}